/*Responsive Design
	Smartphones*/
@media screen and (min-width: 320px) {
	body {
		text-align: center;
		font-family: "Verdana", "Arial", "Georgia", sans-serif, "Times New Roman";
		font-size: 16px;
		line-height: 24px;
		color: white;
		min-height: 100%;
		text-shadow: 2px 2px black;
		background: url("../media/Devices.png") fixed; 
		background-repeat: no-repeat;	
		background-size: cover;
		background-position: center;
	}
	
	/*
  Minor Second Modular Scale:
  http://www.modularscale.com/?1&em&1.067
	*/

	h1 { 
		font-size: 1.138em;
		margin: 1em;
		font-weight: bold;
	}
	
	p {
	  font-size: 1.067em;
		margin: .5em;
	}
	
	label { 
		display: block;
		color: white;
		background-color: gray;
		margin: 0.5em 0em 0.5em 0em;
		font-size: 1em;
		width: 100%;	
  }
  
  input {
  	display: block;
  	margin: auto;
  	border: solid blue 3px;
  }
  
  #userForm {
  	margin: auto;
  	width: 75%;
  	text-align: center;
  	position: center;
   }
   
  .we {
		font-style: italic;
	}
	
	#signup p {
		margin-bottom: 0.5em;
		padding-bottom: 0.5em;
		background: url("../media/translucent.png") fixed; 
		background-repeat: no-repeat;	
		background-size: cover;
		background-position: center;
	}

	#dob_menu, #day, #year {
		display: block;
		margin: auto;
	}
	
	
  #submitButton {
  	padding: 3em;
  	text-align: center;
  }
  
  #submitButton input {
  	color: blue;
  }
  
   #validCSSicon {
  	margin: auto;
  	text-align: center;
  	padding: 2em;
  	width: 100%;
  	height: 100px;
  	width: 80px;
  }
 
	td {
		display: block;
	}
	
	table {
		margin: auto;
	}
	
	#userData label {
		width: 50%;
		margin: auto;
	}
	
	#userData select {
		margin: 0.5em auto 0em auto;
		border: solid blue 3px;
	}
	
}

/*Responsive Design
	Tablets*/
@media screen and (min-width: 640px) {
	body {
		color: cyan;
		line-height: 36px;
		background: url("../media/Microsoft_Devices_Wallpaper.png") fixed; 
		background-repeat: no-repeat;	
		background-size: cover;
		background-position: center;
	}
	
	/*
  Major Third Modular Scale:
  http://www.modularscale.com/?1&em&1.25
	*/
	
	h1 { 
		font-size: 2.441em;
		margin: 1em;
		line-height: 42px;
		}
		
	p {
		font-size: 1.563em;
	}
	
	label { 
		color: cyan;
		background-color: transparent;
		margin: .5em;
		font-size: 1.25em;
  }
  
  #signup p {
    margin-top: 1em;
		margin-bottom: 0.5em;
		padding-bottom: 0.5em;
		background: none;
	}
  
  .we {
		background: none;
	}
  
  #userForm {
  	width: 75%;
  }

 #submitButton input {
  	color: purple;
  }
  
 #validCSSicon {
		padding-top: 3em;
  	text-align: center;
  }
  
  input {
  	border: solid purple 3px;
  }
  
	
	#fields {
		text-align: center;
	}
	
	#dob_menu, #day, #year {
		display: inline-block;
		margin: auto;
	}
  
  #submitButton {
  	padding: 2em;
  	text-align: center;
  }
  
  table {
  	width: 60%;
  }
  
  table input {
  	width: 60%;
  	border: solid purple 3px;
  }
  
  table label {
  	margin: 0.5em auto 0.5em auto;
  }
  
  #userData label {
		width: 60%;
	}
	
	#userData select {
		margin-right: 0.75em;
		border: solid purple 3px;
	}

}

/*Responsive Design
	Desktops*/
@media screen and (min-width: 960px) {

	body {
		color: lime;
	  line-height: 48px;
	  background: url("../media/colorcoding.jpg") fixed; 
		background-repeat: no-repeat;	
		background-size: cover;
		background-position: center;
	}
	
	/*
  Major Third Modular Scale:
  http://www.modularscale.com/?1&em&1.250
	*/
	
	h1 { 
	  padding-top: 0em;
		font-size: 1.953em;
		}
		
	p {
		font-size: 1.563em;
	}
	
	label { 
		color: lime;
		display: inline;
		padding-left: 0%;
		width: 125%;
		margin: 0.5em;
		font-size: 1.250em;
		border: red;
  }
  
  input {
    border: solid black 3px;
  	display: block;
  }
  
  
  #userData {
  	display: block;
  	width: 80%;
  	margin-left: 2em;
  	float: left;
  }
  
  
 #userData label {
  	padding-right: 3.25em;
  }
  
  #userData select {
  	border: solid black 3px;
  	display: inline;
  	
  }

  #userForm {
  	width: 75%;
  	text-align: left;
    display: block;
    float: left;
  }
  
	.we p {
		margin: 1em;
		padding-bottom: 0.5em;
	}	
	
	#signup {
		margin: 1em;
		background: url("../media/translucent.png") fixed; 
		background-repeat: no-repeat;	
		background-size: cover;
		background-position: center;
	}
	
  #submitButton {
  	padding: 3em;
  	margin: auto;
  	text-align: left;	
  }
  
  #submitButton input {
  	color: red;
  }

	#validCSSicon {
  	text-align: left;
  	padding: 1em;
  	height: 100px;
  	width: 75px;
  }
  
  table {
  	width: 80%;
  	margin-right: 50%;
  	margin-left: 2em;
  	border: transparent solid 3px;
  }
  
  table td {
  	display: inline-block;
  	width: 191px;
  }
  
   table tr {
  	display: inline-block;
  }
  
  table input {
  	border: solid black 3px;
  	width: 150%;
  	margin-left: 10px;
  }
  
}